[submodule "tclap"]
	path = tclap
	url = https://github.com/mirror/tclap.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/libigl/eigen.git
[submodule "sciplot"]
	path = sciplot
	url = https://github.com/sciplot/sciplot.git
